.s-form {
  position: relative;

  input,
  textarea {
    border: 0;
    border-bottom: 1px solid #eee;
    display: block;
    font-weight: normal;
    font-size: $b;
    padding: 1rem 0;
    width: 100%;

    &:focus,
    &:hover {
      border-bottom-color: #bbb;
      outline: 0;
    }
  }

  textarea {
    min-height: 15rem;
  }

  button {
    @include unstyle-button;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: .5rem 1rem;

    &:focus,
    &:hover {
      background-color: color('white');
      outline: 0;
    }

    &:active {
      filter: brightness(.8);
    }
  }

  label,
  button {
    display: block;
    font-family: $sans-serif;
    font-size: $s;
    position: relative;
  }
}
