@import '../../sass/framework.bundle';

.headingwrap {
  padding: 2rem 0;

  @include respond-to(desk) {
    padding: 4rem 0 3rem;
    text-align: center;
  }
}

.amp {
  color: $brand;
  font-family: "Playfair Display", Baskerville, Palatino, "Times New Roman", Times, sans-serif;
  line-height: .9;
}
