html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
    appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

html {
    font: 100%/1.625 'Georgia', sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
    @media all and (min-width: 135em) {
        font-size: 120%;
    }
}

* {
    box-sizing: inherit;
}

*:before {
    box-sizing: inherit;
}

*:after {
    box-sizing: inherit;
}

body {
    color: #444;
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

img, h2, h3, h4, h5, h6, ul, ol, blockquote, hgroup, dl, dd, p, figure, pre, table, fieldset, form, noscript, iframe, hr, address {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
    color: #599e01;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

b, strong, dt, th {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

h2 {
    margin-bottom: 1.625rem;
    font-size: 1.51572rem;
}

h3 {
    margin-bottom: 1.625rem;
    font-size: 1.31951rem;
}

h4 {
    margin-bottom: 1.625rem;
    font-size: 1rem;
}

h5 {
    margin-bottom: 1.625rem;
    font-size: 0.87055rem;
}

h6 {
    margin-bottom: 1.625rem;
    font-size: 0.81225rem;
}

hgroup {
    margin-bottom: 1.625rem;
}

ul {
    margin-left: 1.625rem;
    margin-bottom: 1.625rem;
    list-style-position: outside;
    list-style-image: none;
}

ol {
    margin-left: 1.625rem;
    margin-bottom: 1.625rem;
    list-style-position: outside;
    list-style-image: none;
}

dl, dd, p, figure, pre, table, fieldset, form, noscript, iframe, address {
    margin-bottom: 1.625rem;
}

pre {
    font-size: 0.85rem;
    line-height: 1.625rem;
}

table {
    font-size: 1rem;
    line-height: 1.625rem;
    border-collapse: collapse;
    width: 100%;
}

blockquote {
    padding-left: 1.32031rem;
    margin-bottom: 1.625rem;
    font-size: 1.1487rem;
    line-height: 1.625rem;
    border-left: 0.30469rem solid #ff5700;
    color: hsla(0, 0%, 0%, 0.59);
    font-style: italic;
    border-left-color: #EB9000;
}

hr {
    margin-bottom: calc(1.625rem - 1px);
    background: transparent;
    border: none;
    height: 1px;
}

li {
    margin-bottom: calc(1.625rem / 2);
}

ol li {
    padding-left: 0;
}

ul li {
    padding-left: 0;
}

li>ol {
    margin-left: 1.625rem;
    margin-bottom: calc(1.625rem / 2);
    margin-top: calc(1.625rem / 2);
}

li>ul {
    margin-left: 1.625rem;
    margin-bottom: calc(1.625rem / 2);
    margin-top: calc(1.625rem / 2);
}

blockquote *:last-child {
    margin-bottom: 0;
}

li *:last-child {
    margin-bottom: 0;
}

p *:last-child {
    margin-bottom: 0;
}

li>p {
    margin-bottom: calc(1.625rem / 2);
}

code {
    font-size: 0.85rem;
    line-height: 1.625rem;
}

kbd {
    font-size: 0.85rem;
    line-height: 1.625rem;
}

samp {
    font-size: 0.85rem;
    line-height: 1.625rem;
}

abbr {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}

acronym {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}

abbr[title] {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
    text-decoration: none;
}

thead {
    text-align: left;
}

td,
th {
    text-align: left;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
    font-feature-settings: "tnum";
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    padding-left: 1.08333rem;
    padding-right: 1.08333rem;
    padding-top: 0.8125rem;
    padding-bottom: calc(0.8125rem - 1px);
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

a {
    color: #467d00;
    text-decoration: none;
    text-shadow: none;
    background-image: none;
}

a:hover,
a:active {
    text-shadow: none;
    background-image: none;
}

ul,
ol {
    margin-left: 1.08333rem;
}

li>ol,
li>ul {
    margin-left: 1.08333rem;
    margin-bottom: 0;
}

blockquote> :last-child {
    margin-bottom: 0;
}

blockquote cite {
    font-size: 1rem;
    line-height: 1.625rem;
    color: #444;
    font-style: normal;
    font-weight: 400;
}

blockquote cite:before {
    content: "— ";
}

@media only screen and (max-width:480px) {
    html {
        font-size: 100%;
        line-height: 1.625;
    }

    blockquote {
        border-left: 0.30469rem solid #EB9000;
        color: hsla(0, 0%, 0%, 0.59);
        padding-left: 0.91406rem;
        font-style: italic;
        margin-left: -1.21875rem;
        margin-right: 0;
    }
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1.354;
    margin-bottom: var(--vr-half, 0.8125rem);
    margin-top: 2.03125rem;
}

.s-editable a:not([class]) {
    color: #467d00;
    font-weight: bold;
    text-decoration: underline;
}

.s-editable a:not([class]):active {
    color: #EB9000;
}

/* prevent wordpress <p><xml /></p> junk from affecting layout */
p:empty {
    display: none;
}