.jb-aspect-ratio-wrapper {
  background-color: rgba(0, 0, 0, .08);
  -webkit-background-size: cover;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: relative;
}

.no-js .jb-aspect-ratio-wrapper {
  background-image: none !important;
}

.jb-aspect-ratio-pillar {
  float: left;
}

.jb-aspect-ratio-img {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.fadein {
  opacity: 0;
  transition: opacity .2s ease-out;
}

img.lazyloaded {
  opacity: 1;
}

.no-js img.lazyload {
  display: none;
}

.alignright,
.alignleft {
  width: 40%;
}
